<div class=3DWordSection1>

<p class=3DMsoNormal><span class=3DSpellE><span style=3D'font-size:11.5pt;l=
ine-height:
107%;color:#666666;background:white'>Baru</span></span><span style=3D'font-=
size:
11.5pt;line-height:107%;color:#666666;background:white'> <span class=3DSpel=
lE>Pertanyaan</span>
</span><!--[if gte msEquation 12]><m:oMath><m:sSup><m:sSupPr><span
   style=3D'font-size:11.5pt;mso-ansi-font-size:11.5pt;mso-bidi-font-size:1=
1.5pt;
   font-family:"Cambria Math",serif;mso-ascii-font-family:"Cambria Math";
   mso-hansi-font-family:"Cambria Math";color:#666666;background:white'><m:=
ctrlPr></m:ctrlPr></span></m:sSupPr><m:e><m:d><m:dPr><span
     style=3D'font-size:11.5pt;mso-ansi-font-size:11.5pt;mso-bidi-font-size=
:11.5pt;
     font-family:"Cambria Math",serif;mso-ascii-font-family:"Cambria Math";
     mso-hansi-font-family:"Cambria Math";color:#666666;background:white'><=
m:ctrlPr></m:ctrlPr></span></m:dPr><m:e><i
     style=3D'mso-bidi-font-style:normal'><span style=3D'font-size:11.5pt;
     line-height:107%;font-family:"Cambria Math",serif;color:#666666;
     background:white'><m:r>x</m:r><m:r>+</m:r><m:r>a</m:r></span></i></m:e=
></m:d></m:e><m:sup><i
   style=3D'mso-bidi-font-style:normal'><span style=3D'font-size:11.5pt;lin=
e-height:
   107%;font-family:"Cambria Math",serif;color:#666666;background:white'><m=
:r>n</m:r></span></i></m:sup></m:sSup><i
 style=3D'mso-bidi-font-style:normal'><span style=3D'font-size:11.5pt;line-=
height:
 107%;font-family:"Cambria Math",serif;mso-fareast-font-family:"Cambria Mat=
h";
 mso-bidi-font-family:"Cambria Math";color:#666666;background:white'><m:r>=
=3D</m:r></span></i><m:nary><m:naryPr><m:chr
    m:val=3D"&#8721;"/><m:grow m:val=3D"on"/><span style=3D'font-size:11.5p=
t;
   mso-ansi-font-size:11.5pt;mso-bidi-font-size:11.5pt;font-family:"Cambria=
 Math",serif;
   mso-ascii-font-family:"Cambria Math";mso-hansi-font-family:"Cambria Math=
";
   color:#666666;background:white'><m:ctrlPr></m:ctrlPr></span></m:naryPr><=
m:sub><i
   style=3D'mso-bidi-font-style:normal'><span style=3D'font-size:11.5pt;lin=
e-height:
   107%;font-family:"Cambria Math",serif;mso-fareast-font-family:"Cambria M=
ath";
   mso-bidi-font-family:"Cambria Math";color:#666666;background:white'><m:r=
>k</m:r><m:r>=3D0</m:r></span></i></m:sub><m:sup><i
   style=3D'mso-bidi-font-style:normal'><span style=3D'font-size:11.5pt;lin=
e-height:
   107%;font-family:"Cambria Math",serif;mso-fareast-font-family:"Cambria M=
ath";
   mso-bidi-font-family:"Cambria Math";color:#666666;background:white'><m:r=
>n</m:r></span></i></m:sup><m:e><m:d><m:dPr><span
     style=3D'font-size:11.5pt;mso-ansi-font-size:11.5pt;mso-bidi-font-size=
:11.5pt;
     font-family:"Cambria Math",serif;mso-ascii-font-family:"Cambria Math";
     mso-hansi-font-family:"Cambria Math";color:#666666;background:white'><=
m:ctrlPr></m:ctrlPr></span></m:dPr><m:e><m:f><m:fPr><m:type
        m:val=3D"noBar"/><span style=3D'font-size:11.5pt;mso-ansi-font-size=
:11.5pt;
       mso-bidi-font-size:11.5pt;font-family:"Cambria Math",serif;mso-ascii=
-font-family:
       "Cambria Math";mso-hansi-font-family:"Cambria Math";color:#666666;
       background:white'><m:ctrlPr></m:ctrlPr></span></m:fPr><m:num><i
       style=3D'mso-bidi-font-style:normal'><span style=3D'font-size:11.5pt;
       line-height:107%;font-family:"Cambria Math",serif;mso-fareast-font-f=
amily:
       "Cambria Math";mso-bidi-font-family:"Cambria Math";color:#666666;
       background:white'><m:r>n</m:r></span></i></m:num><m:den><i
       style=3D'mso-bidi-font-style:normal'><span style=3D'font-size:11.5pt;
       line-height:107%;font-family:"Cambria Math",serif;mso-fareast-font-f=
amily:
       "Cambria Math";mso-bidi-font-family:"Cambria Math";color:#666666;
       background:white'><m:r>k</m:r></span></i></m:den></m:f></m:e></m:d><=
m:sSup><m:sSupPr><span
     style=3D'font-size:11.5pt;mso-ansi-font-size:11.5pt;mso-bidi-font-size=
:11.5pt;
     font-family:"Cambria Math",serif;mso-ascii-font-family:"Cambria Math";
     mso-hansi-font-family:"Cambria Math";color:#666666;background:white'><=
m:ctrlPr></m:ctrlPr></span></m:sSupPr><m:e><i
     style=3D'mso-bidi-font-style:normal'><span style=3D'font-size:11.5pt;
     line-height:107%;font-family:"Cambria Math",serif;mso-fareast-font-fam=
ily:
     "Cambria Math";mso-bidi-font-family:"Cambria Math";color:#666666;
     background:white'><m:r>x</m:r></span></i></m:e><m:sup><i style=3D'mso-=
bidi-font-style:
     normal'><span style=3D'font-size:11.5pt;line-height:107%;font-family:"=
Cambria Math",serif;
     mso-fareast-font-family:"Cambria Math";mso-bidi-font-family:"Cambria M=
ath";
     color:#666666;background:white'><m:r>k</m:r></span></i></m:sup></m:sSu=
p><m:sSup><m:sSupPr><span
     style=3D'font-size:11.5pt;mso-ansi-font-size:11.5pt;mso-bidi-font-size=
:11.5pt;
     font-family:"Cambria Math",serif;mso-ascii-font-family:"Cambria Math";
     mso-hansi-font-family:"Cambria Math";color:#666666;background:white'><=
m:ctrlPr></m:ctrlPr></span></m:sSupPr><m:e><i
     style=3D'mso-bidi-font-style:normal'><span style=3D'font-size:11.5pt;
     line-height:107%;font-family:"Cambria Math",serif;mso-fareast-font-fam=
ily:
     "Cambria Math";mso-bidi-font-family:"Cambria Math";color:#666666;
     background:white'><m:r>a</m:r></span></i></m:e><m:sup><i style=3D'mso-=
bidi-font-style:
     normal'><span style=3D'font-size:11.5pt;line-height:107%;font-family:"=
Cambria Math",serif;
     mso-fareast-font-family:"Cambria Math";mso-bidi-font-family:"Cambria M=
ath";
     color:#666666;background:white'><m:r>n</m:r><m:r>-</m:r><m:r>k</m:r></=
span></i></m:sup></m:sSup></m:e></m:nary></m:oMath><![endif]--><![if !msEqu=
ation]><span
style=3D'font-size:11.0pt;line-height:107%;font-family:"Calibri",sans-serif;
mso-ascii-theme-font:minor-latin;mso-fareast-font-family:Calibri;mso-fareas=
t-theme-font:
minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times Ne=
w Roman";
mso-bidi-theme-font:minor-bidi;position:relative;top:10.5pt;mso-text-raise:
-10.5pt;mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-languag=
e:
AR-SA'><!--[if gte vml 1]><v:shapetype id=3D"_x0000_t75" coordsize=3D"21600=
,21600"
 o:spt=3D"75" o:preferrelative=3D"t" path=3D"m@4@5l@4@11@9@11@9@5xe" filled=
=3D"f"
 stroked=3D"f">
 <v:stroke joinstyle=3D"miter"/>
 <v:formulas>
  <v:f eqn=3D"if lineDrawn pixelLineWidth 0"/>
  <v:f eqn=3D"sum @0 1 0"/>
  <v:f eqn=3D"sum 0 0 @1"/>
  <v:f eqn=3D"prod @2 1 2"/>
  <v:f eqn=3D"prod @3 21600 pixelWidth"/>
  <v:f eqn=3D"prod @3 21600 pixelHeight"/>
  <v:f eqn=3D"sum @0 0 1"/>
  <v:f eqn=3D"prod @6 1 2"/>
  <v:f eqn=3D"prod @7 21600 pixelWidth"/>
  <v:f eqn=3D"sum @8 21600 0"/>
  <v:f eqn=3D"prod @7 21600 pixelHeight"/>
  <v:f eqn=3D"sum @10 21600 0"/>
 </v:formulas>
 <v:path o:extrusionok=3D"f" gradientshapeok=3D"t" o:connecttype=3D"rect"/>
 <o:lock v:ext=3D"edit" aspectratio=3D"t"/>
</v:shapetype><v:shape id=3D"_x0000_i1025" type=3D"#_x0000_t75" style=3D'wi=
dth:139.5pt;
 height:27.75pt'>
 <v:imagedata src=3D"H2_files/image001.png" o:title=3D"" chromakey=3D"white=
"/>
</v:shape><![endif]--><![if !vml]><img width=3D186 height=3D37
src=3D"H2_files/image002.png" v:shapes=3D"_x0000_i1025"><![endif]></span><!=
[endif]><span
style=3D'font-size:11.5pt;line-height:107%;color:#666666;background:white'>=
<o:p></o:p></span></p>

<p class=3DMsoNormal><span class=3DSpellE><span style=3D'font-size:11.5pt;l=
ine-height:
107%;color:#666666;background:white'>Untuk</span></span><span style=3D'font=
-size:
11.5pt;line-height:107%;color:#666666;background:white'> <span class=3DSpel=
lE>sekedar</span>
<span class=3DSpellE>sebagai</span> class <span class=3DSpellE>bantuan</spa=
n> <span
class=3DSpellE>dalam</span> <span class=3DSpellE>hal</span> <span class=3DS=
pellE>manipulasi</span>
file <span class=3DSpellE>teks</span>, \<span class=3DSpellE>nmaka</span> y=
ang <span
class=3DSpellE>perlu</span> <span class=3DSpellE>dibuat</span> <span class=
=3DSpellE>adalah</span>
method <span class=3DSpellE>untuk</span> <span class=3DSpellE>menentukan</s=
pan> <span
class=3DSpellE>lokasi</span> file, <span class=3DSpellE>membaca</span> file=
, <span
class=3DSpellE>dan</span> <span class=3DSpellE>terakhir</span> <span class=
=3DSpellE>adalah</span>
<span class=3DSpellE>menulis</span> data <span class=3DSpellE>ke</span> <sp=
an
class=3DSpellE>dalam</span> file. <span class=3DSpellE>Semua</span> method =
<span
class=3DSpellE>tersebut</span> <span class=3DSpellE>harus</span> <span
class=3DSpellE>bisa</span> <span class=3DSpellE>diakses</span> <span class=
=3DSpellE>dari</span>
<span class=3DSpellE>seluruh</span> <span class=3DSpellE>bagian</span> prog=
ram <span
class=3DSpellE>dengan</span> <span class=3DSpellE>dependensi</span> <span
class=3DSpellE>seminim</span> <span class=3DSpellE>mungkin</span>. <span
class=3DSpellE>Karena</span> <span class=3DSpellE>itu</span>, <span class=
=3DSpellE>sebaiknya</span>
method <span class=3DSpellE>tersebut</span> <span class=3DSpellE>dibuat</sp=
an> <span
class=3DSpellE>sebagai</span> static method, <span class=3DSpellE>dalam</sp=
an> <span
class=3DSpellE>sebuah</span> class <span class=3DSpellE>tersendiri</span>. =
<span
class=3DSpellE>Buatlah</span> class <span class=3DSpellE>seperti</span> di =
<span
class=3DSpellE>bawah</span> <span class=3DSpellE>ini</span>.<o:p></o:p></sp=
an></p>

<p class=3DMsoNormal><span style=3D'font-size:11.5pt;line-height:107%;color=
:#666666;
background:white'>Jawab1 A<o:p></o:p></span></p>

<p class=3DMsoNormal><span style=3D'font-size:11.5pt;line-height:107%;color=
:#666666;
background:white'>Jawab2 B</span></p>

<p class=3DMsoNormal><span style=3D'font-size:11.5pt;line-height:107%;color=
:#666666;
background:white'>Jawab3 C<o:p></o:p></span></p>

<p class=3DMsoNormal><span style=3D'font-size:11.5pt;line-height:107%;color=
:#666666;
background:white'>Jawab4 D</span></p>

<p class=3DMsoNormal><span style=3D'font-size:11.5pt;line-height:107%;color=
:#666666;
background:white'>Jawab5 E<o:p></o:p></span></p>

<p class=3DMsoNormal><o:p>&nbsp;</o:p></p>

</div>